* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;
}

#header {
	display: flex;
	background: rgba(12,82,148,1);
	background: -moz-linear-gradient(left, rgba(12,82,148,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,82,148,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-linear-gradient(left, rgba(12,82,148,1) 0%, rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(left, rgba(12,82,148,1) 0%, rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,82,148,1) 0%, rgba(32,124,229,1) 100%);
	background: linear-gradient(to right, rgba(12,82,148,1) 0%, rgba(32,124,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5294', endColorstr='#207ce5', GradientType=1 );
	width: 100%;
	height: 65px;
	justify-content: space-between;
	align-items: center;
}

#logout {
	text-decoration:none;
	margin-right: 18px; 
	color: white;
}

#user {
	text-decoration:none;
	margin-left: 18px; 
	color: white;
}

h1 {
	color: white;
}

p {
	font-family: sans-serif;
	font-size: 20px;
	cursor: default;
}

a {
	color: black;
}

.sousmenu {
	color: black;
	margin-top: 22px; 
	position: absolute;
	display: none;
	align-self: center;
	width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu {
	color: white;
	padding-top: 20px;
	text-align: center;
	box-shadow: red;
	width: 120px;
	position: relative;
	margin-left: 7px;
	height: 65px;
}

.menu:hover .sousmenu {
	display: block;
}

.links {
	color: black;
	cursor: default;
	display: flex;
	align-items: center;
	padding-left: 2px; 
	height: 40px;
	font-size: 16px;
}

.menu:hover {
	background-color: rgba(12,70,148,1);
}

.links:hover {
	background-color: #d9d9d9;
}
